<app-panel-user name="This Month Energy Analysis" #panelHeader (refreshTableList)="refreshThisMonthEnergyAnalysis()">
<div *ngIf="showLoaderImage" class="col-lg-12"
style="margin-left:20%; margin-top:0%;margin-bottom:0%;" text-align="center">
<img src="/assets/img/dashboard/ProgressLoader.gif" height="auto" width="50%"
    alt="Loading........">
</div>
<div *ngIf="null!=currentMonthEnergyAnalysis">
<table class="en-consumption">
    <tr class="tr-row">
        <td class="td-label" style="width:250px !important"> Energy Consumption</td>
        <td class="td-value">{{currentMonthEnergyAnalysis['energyConsume']}}</td>
    </tr>
    <tr class="tr-row">
        <td class="td-label" style="width:250px !important"> Energy Cost</td>
        <td class="td-value">{{currentMonthEnergyAnalysis['energyCost']}}</td>
    </tr>
</table></div>
</app-panel-user>